.btn-back-div sl-icon-button::part(base) {
  color: #ffffff;
}

.btn-back-div sl-icon-button::part(base):hover,
.btn-back-div sl-icon-button::part(base):focus {
  color: #c31c1c;
}

.btn-back-div sl-icon-button::part(base):active {
  color: #9e2929;
}

.input-data[invalid]:not([disabled])::part(label),
.input-data[invalid]:not([disabled])::part(help-text) {
  color: var(--sl-color-danger-600);
}

.input-data[invalid]:focus-within::part(base) {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-500);
}

body {
  background-color: rgb(25, 25, 25);
}

.btn-back-div {
  position: relative;
  padding: 5px 5px;
}

.connect-main {
  text-align: center;
}
.connect-main .connect-main-title {
  margin-top: 200px;
}
.connect-main .connect-main-title .main-title {
  font-size: 60px;
  font-weight: bold;
  color: rgb(255, 255, 255);
}
.connect-main .input-ip {
  margin: auto;
  margin-top: 70px;
  width: 450px;
}
.connect-main .input-ip .dialog-ip {
  --width: 800px;
}
.connect-main .input-ip .dialog-ip::part(header) {
  background-color: #bababa;
}
.connect-main .input-ip .dialog-ip::part(body) {
  background-color: #bababa;
}
.connect-main .input-ip .dialog-div {
  height: 500px;
  position: relative;
}
.connect-main .input-ip .dialog-div .container {
  position: relative;
  max-width: 800px;
  margin: auto;
}
.connect-main .input-ip .dialog-div .container h2 {
  font-size: 26px;
  text-align: center;
}
.connect-main .input-ip .dialog-div .container .responsive-table {
  padding: 0px;
}
.connect-main .input-ip .dialog-div .container .responsive-table li {
  border-radius: 3px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}
.connect-main .input-ip .dialog-div .container .responsive-table .server-list {
  border: 1px solid transparent;
}
.connect-main .input-ip .dialog-div .container .responsive-table .server-list .col-1 {
  margin: auto;
  text-align: left;
}
.connect-main .input-ip .dialog-div .container .responsive-table .server-list .col-1 h3 {
  margin: auto;
}
.connect-main .input-ip .dialog-div .container .responsive-table .server-list .col-1 h5 {
  margin: auto;
  font-size: 14px;
  color: rgb(57, 57, 57);
}
.connect-main .input-ip .dialog-div .container .responsive-table .server-list:hover {
  border: solid 1px rgb(25, 25, 25);
  margin: auto;
  cursor: pointer;
}
.connect-main .input-ip .dialog-div .container .responsive-table .table-header {
  background-color: #e3e3e3;
  font-size: 14px;
  text-transform: uppercase;
}
.connect-main .input-ip .dialog-div .container .responsive-table .table-header .col-1 {
  flex-basis: 80%;
  font-size: 20px;
  text-align: left;
}
.connect-main .input-ip .dialog-div .container .responsive-table .table-header .col-2 {
  font-size: 25px;
}
.connect-main .input-ip .dialog-div .container .responsive-table .table-header .col-3 {
  font-size: 25px;
}
.connect-main .input-ip .dialog-div .container .responsive-table .table-row {
  background-color: #ffffff;
  box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}
.connect-main .input-ip .dialog-div .container .responsive-table .col-1 {
  flex-basis: 80%;
  text-align: left;
}
.connect-main .input-ip .dialog-div .container .responsive-table .col-2 {
  flex-basis: 10%;
}
.connect-main .input-ip .dialog-div .container .responsive-table .col-3 {
  flex-basis: 10%;
}
@media all and (max-width: 767px) {
  .connect-main .input-ip .dialog-div .container .responsive-table .table-header {
    display: none;
  }
  .connect-main .input-ip .dialog-div .container .responsive-table li {
    display: block;
  }
  .connect-main .input-ip .dialog-div .container .responsive-table .col {
    flex-basis: 100%;
  }
  .connect-main .input-ip .dialog-div .container .responsive-table .col {
    display: flex;
    padding: 10px 0;
  }
  .connect-main .input-ip .dialog-div .container .responsive-table .col:before {
    color: #6c7a89;
    padding-right: 10px;
    content: attr(data-label);
    flex-basis: 50%;
    text-align: right;
  }
}
.connect-main .input-port {
  margin: auto;
  margin-top: 30px;
  width: 450px;
}
.connect-main .input-username {
  margin: auto;
  margin-top: 30px;
  width: 450px;
}
.connect-main .play-btn-enter {
  margin-top: 40px;
}
.connect-main .play-btn-enter .play-btn {
  height: 50px;
  width: 180px;
  font-size: 20px;
  border-radius: 0px !important;
}/*# sourceMappingURL=connection.css.map */