.btn-back-div sl-icon-button::part(base) {
  color: #ffffff;
}

.btn-back-div sl-icon-button::part(base):hover,
.btn-back-div sl-icon-button::part(base):focus {
  color: #c31c1c;
}

.btn-back-div sl-icon-button::part(base):active {
  color: #9e2929;
}

.input-data[invalid]:not([disabled])::part(label),
.input-data[invalid]:not([disabled])::part(help-text) {
  color: var(--sl-color-danger-600);
}

// .input-data[invalid]:not([disabled])::part(base) {
//   border-color: var(--sl-color-danger-500);
// }

.input-data[invalid]:focus-within::part(base) {
  box-shadow: 0 0 0 var(--sl-focus-ring-width) var(--sl-color-danger-500);
}

body {
  background-color: rgb(25, 25, 25);
}

.btn-back-div {
  position: relative;
  padding: 5px 5px;
}

.connect-main {
  text-align: center;
  // min-height: 100vh;

  .connect-main-title {
    margin-top: 200px;

    .main-title {
      font-size: 60px;
      font-weight: bold;
      color: rgb(255, 255, 255);
    }
  }

  .input-ip {
    margin: auto;
    margin-top: 70px;
    width: 450px;

    .dialog-ip::part(header) {
      background-color: #bababa;
    }

    .dialog-ip::part(body) {
      background-color: #bababa;
    }

    .dialog-div {
      .container {
        position: relative;
        max-width: 800px;
        margin: auto;

        h2 {
          font-size: 26px;
          text-align: center;
        }

        .responsive-table {
          padding: 0px;

          li {
            border-radius: 3px;
            padding: 25px 30px;
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
          }

          .server-list:hover {
            border: solid 1px rgb(25, 25, 25);
            cursor: pointer;
          }

          .table-header {
            background-color: #e3e3e3;
            font-size: 14px;
            text-transform: uppercase;
          }
          .table-row {
            background-color: #ffffff;
            box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
          }
          .col-1 {
            flex-basis: 80%;
          }
          .col-2 {
            flex-basis: 10%;
          }
          .col-3 {
            flex-basis: 10%;
          }

          @media all and (max-width: 767px) {
            .table-header {
              display: none;
            }
            li {
              display: block;
            }
            .col {
              flex-basis: 100%;
            }
            .col {
              display: flex;
              padding: 10px 0;
              &:before {
                color: #6c7a89;
                padding-right: 10px;
                content: attr(data-label);
                flex-basis: 50%;
                text-align: right;
              }
            }
          }
        }
      }
    }
  }

  .input-port {
    margin: auto;
    margin-top: 30px;
    width: 450px;
  }

  .input-username {
    margin: auto;
    margin-top: 30px;
    width: 450px;
  }

  .play-btn-enter {
    margin-top: 40px;

    .play-btn {
      height: 50px;
      width: 180px;
      font-size: 20px;
      border-radius: 0px !important;
    }
  }
}
