@import "https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/dist/themes/dark.css";

.btn-back sl-icon-button::part(base) {
  color: #000000;
}

.btn-back sl-icon-button::part(base):hover,
.btn-back sl-icon-button::part(base):focus {
  color: #c31c1c;
}

.btn-back sl-icon-button::part(base):active {
  color: #9e2929;
}

* {
  padding: 0;
  margin: 0;
}

html,
body,
canvas {
  width: 100%;
  height: 100%;
}

canvas {
  display: block;
}

.dialog-deny-close::part(overlay) {
  background-color: rgb(189, 32, 32);
}

.dialog-deny-close::part(panel) {
  background-color: rgb(25, 25, 25);
}

.btn-back {
  z-index: 999999;
  position: absolute;
  padding: 5px 5px;

  // .icon_back {
  // }
}
